.Principal {
    font-size: 1.7vw;
    padding: 1.5vw;
    margin: 1vm auto;
    max-width: 95vw;
}

.container {
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
