  .cards-container {
    padding: 2rem;
    display:flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
.Principal{
    font-size: 1.7vw;
    padding: 1.5vw;
    margin: 1vm auto;
    max-width: 95vw;
}