footer{
    display: grid;
    grid-template-columns: 3;
    background-color: black;
    padding: 2rem 0;
    align-items: center;
}
footer > div {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

footer p {
  font-size: 1.3vw;
  color: #d1d1d1;
  font-weight: 400;
}

.footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d1d1d1;
  font-size: 1.3vw;
  font-weight: 500;
  gap: 8px;
  transition: all 0.2s ease;
}

.footer-link:hover {
  opacity: 0.4;
  transform: translateY(-1px);
}

.footer-link img {
  width: 24px;
  height: 24px;
  transition: filter 0.2s ease;
}

@media (max-width: 600px) {
  footer > div {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
  footer p {
  font-size: 3.5vw;
  color: #d1d1d1;
  font-weight: 400;
}

.footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d1d1d1;
  font-size: 3.5vw;
  font-weight: 500;
  gap: 8px;
  transition: all 0.2s ease;
}
}