.nav ul{
    position:fixed;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap:3vw;
    right: 0;
    list-style-type:none;
    background-color: rgb(8, 7, 7);
    height: 5vh;
    z-index: 100;
    width: 100vw;
    padding: 2.3vw;
}
.nav{
    height: 10vh;
}
.nav ul>li{
    text-shadow: 1vw ;
}
a{
    text-decoration: none;
    color:inherit
}
@media screen and (min-width:1020px) {
    .nav ul>li{
        font-size: 2vw;
    }
}