.nav ul{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap:3vw;
    list-style-type:none;
    background-color: rgb(8, 7, 7);
    height: 5vh;
}
.nav ul>li{
    text-shadow: 1vw ;
}